@model Formulario
@{
    ViewData["Title"] = "Atendimento Ao Cliente";
}
<h1>@ViewData["Title"]</h1>

<form method="POST">
<p>
    <label asp-for="Nome">Nome</label>
    <input asp-for="Nome"required/>
    </p>
<p>
        <label asp-for="Endereco">Endereço:</label>
        <input asp-for="Endereco"required/>
    </p>
<p> <label asp-for="Email">E-mail:</label>
        <input asp-for="Email"required/>
    </p>
    <p> <label asp-for="Assunto">Assunto:</label>
        <input asp-for="Assunto" required/>
    </p>

<input type="submit" value="Enviar">
</form>
