@{
    ViewData["Title"] = "Confirmação ";
}
<h1>@ViewData["Title"]</h1>

<p>Sua Mensagem foi enviada Aguarde Que Retonaremos no Seu E-mail, OBRIGADO!</p>

<p>
    <a asp-action="Atendimento">Deseja Tirar Mais Duvidas ou Reclamações??</a>
</p>

<p>
    <a asp-action="Lista">Sua Mensagens</a>
</p>